body{
    background-color:lightblue;
    color: black;
}
.city{
background-color: chartreuse;
}
.city1{
    background-color: rgb(116, 213, 235);
}
.city2{
    background-color: rgb(203, 89, 111);
}